<!doctype html>
<html lang="en">

<head>
  <title>JU E-Summit 2021</title>
  <%- include('../partials/head2'); %>
  <!-- Custom styles for this template -->
  <link href="../assets/css/navBar.css" rel="stylesheet">
  <link href="../assets/css/carousel.css" rel="stylesheet">
  <link href="../assets/css/heroes.css" rel="stylesheet">
  <link href="../assets/css/features.css" rel="stylesheet">

</head>

<body class="bg-light">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJ8BSG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/612891ed649e0a0a5cd33159/1fe37k2kk';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/blue_grad_logo.png" width="160" height="30" alt="">
      </a>
      <a href="https://portal.juecell.in/" target="blank"><button class="btn btn-outline-primary btn-sm" type="button" id="register_button" aria-label="Toggle navigation">
          Register Now
        </button></a>

      <!-- <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

      <!-- <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Switch account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div> -->
    </div>
  </nav>

  <!-- <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link active" aria-current="page" href="/">Explore</a>
            <a class="nav-link" href="/legacy">Legacy</a>
            <a class="nav-link" href="/events">
                Events
                <span class="badge bg-light text-dark rounded-pill align-text-bottom">5</span>
            </a>
            <a class="nav-link" href="/schedule">Schedule</a>
            <a class="nav-link" href="/sponsors">Sponsors</a>
            <a class="nav-link" href="latest">Latest</a>
            <a class="nav-link" href="/ca">Campus Ambassador Program</a>
            <a class="nav-link" href="/contact">Contact</a>
        </nav>
    </div> -->

  <%- include('../partials/navScroller'); %>


  <%- include('../partials/svgSymbols'); %>



  <main>
    <!-- Carousel starts -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">

          <img src="../assets/images/HomePage/1_hbfz8z.jpg" width="100%" >

          <!-- <div class="container">
            <div class="carousel-caption text-start">
              <h1 class="text-primary">Example headline.</h1>
              <p>Some representative placeholder content for the first slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
          </div> -->
        </div>
        <div class="carousel-item">
          <img src="../assets/images/HomePage/IMG_2708_zbecbp.jpg" width="100%">


          <!-- <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Some representative placeholder content for the second slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div> -->
        </div>
        <div class="carousel-item">
          <img src="../assets/images/HomePage/2_rqt0fa.png" width="100%">

          <!-- <div class="container">
            <div class="carousel-caption text-end">
              <h1>One more for good measure.</h1>
              <p>Some representative placeholder content for the third slide of this carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousel ends -->

      <!-- First hero starts -->

      <div class="container col-xxl-12 px-4 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="../assets/images/blue_grad_logo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-2 fw-bold lh-1 mb-3">And the <span class="text-primary">legacy</span>
              continues...</h1>
            <p class="lead">Jadavpur University Entrepreneurship Cell presents to you Jadavpur
              University
              Entrepreneurship Summit 2021. This marks
              Jadavpur University's arrival in the league of institutions promoting and nurturing
              entrepreneurship among the youth. We
              wish to ignite the passion of Entrepreneurship in the minds of the students, as well as
              reward
              the entrepreneurial zest.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="https://portal.juecell.in/" target="blank"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register Now</button></a>
              <a href="/schedule"><button type="button" class="btn btn-outline-secondary btn-lg px-4">View
                  Schedule</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- First hero ends -->

      <!-- Event stats start -->
      <div class="container px-4 py-4" id="icon-grid">
        <!-- <h2 class="pb-2 border-bottom">Inspired by Innovation. Loved by people.</h2> -->

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#home" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0"><span class="text-info">15000+</span> Attendees</h4>
              <p>Witnessed on average in the previous version of E-Summit at Jadavpur University.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#cpu-fill" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0"><span class="text-primary">100+</span> Startups</h4>
              <p>Witnessed on average in the previous version of E-Summit at Jadavpur University.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#calendar3" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0"><span class="text-success">25000+</span> Footfall</h4>
              <p>Witnessed on average in the previous version of E-Summit at Jadavpur University.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#toggles2" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0"><span class="text-danger">1,00,000+</span> Clicks</h4>
              <p>Witnessed on average in the previous version of E-Summit at Jadavpur University.</p>
            </div>
          </div>

        </div>
      </div>
      <!-- Event stats end -->


      <!-- About E-Summit -->

      <div class="container col-xxl-12 px-4 py-2">
        <div class="row  align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="../assets/images/HomePage/IMG_2626_kiyj9e.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-4 fw-bold lh-1 mb-3">About <span class="text-primary">E-Summit</span></h1>
            <p class="lead">E-Summit has had a huge range of reputable sponsors and partners, like <span class="text-danger">Deloitte, TEDx, IBM, Google for Entrepreneurs, PwC, Lead Angles, Indian Angels Network and many more</span>. A range of activities like case studies, pitching sessions, bootcamps, workshops, panel discussions, and many more were held in previous E-Summits. </p>
            <p class="lead">This year too, E-Summit’21 brings many new mind blowing events, like LaunchX, HackNPitch, Mock Auction, Mock Stock, The Analyst, InspiraTalks etc., promising the participants an exhilarating experience to help them develop their innovative ideas and give their best performance.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register</button> -->
              <a href="/schedule"><button type="button" class="btn btn-outline-primary btn-lg px-4">View
                  Schedule</button></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Event cards start -->

      <div class="container px-4 py-4" id="custom-cards">
        <!-- <h2 class="pb-2 border-bottom">Custom cards</h2> -->
        <h1 class="display-4 fw-bold text-center">The <span class="text-danger">Events :</span></h1>
        <p class="lead text-center py-5"><span class="text-primary fw-bold">JU E-Cell</span> is all set to infuse the spirit of entrepreneurship through its sensational events as a part of <span class="text-danger fw-bold">E-Summit’21</span>. This will include a gamut of activities. It is an opportunity for future industry leaders and entrepreneurs to exercise their skills.</p>

        <!-- First hero starts -->

        <div class="container col-xxl-12 px-4 py-2">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="../assets/images/HomePage/launchX_kc516n.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <a href="/launchx" style="text-decoration: none;">
                <h1 class="display-2 fw-bold lh-1 mb-3 text-dark">Launch<span style="color: rgb(154, 42, 245);">X</span>
                </h1>
              </a>
              <p class="lead">A PAN India level fundraising event, <span class="text-danger fw-bold">LaunchX</span> aims to give an opportunity to launch Start-ups while developing skills. It provides early stage startups the platform to shine and get under the limelight of the ecosystem.
              </p>


            </div>
          </div>
        </div>
      </div>
      <!-- First hero ends -->



      <!-- Third hero starts -->
      <div class="container col-xxl-12 px-4 py-5">
        <div class="row  align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="../assets/images/HomePage/hackNPitch_zb21tm.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <a href="/hacknpitch" style="text-decoration: none;">
              <h1 class="display-2 fw-bold lh-1 mb-3 text-dark">Hack<span style="color: rgb(252, 108, 132);">N</span>Pitch</h1>
            </a>
            <p class="lead"><span class="text-danger fw-bold">HackNPitch</span> aims to bring young and bright computer programmers to contribute to the digital revolution by applying their knowledge, creativity and competitive coding skills.
            </p>



          </div>
        </div>
      </div>
    </div>
    <!-- Third hero ends -->

    <!-- First hero starts -->

    <div class="container col-xxl-12 px-4 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../assets/images/HomePage/mock-auction_apknmg.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <a href="/mockauction" style="text-decoration: none;">
            <h1 class="display-2 fw-bold lh-1 mb-3 text-dark">Mock<span style="color: rgb(245, 198, 42);"> Auction</span>
            </h1>
          </a>
          <p class="lead">The<span class="text-danger fw-bold"> Mock Auction</span> aims to kindle a spark of critical thinking amongst sports enthusiasts who possess analytical skills and use them to construct the pertinent team using the limited resources available.

          </p>



        </div>
      </div>
    </div>
    </div>
    <!-- First hero ends -->



    <!-- Third hero starts -->
    <div class="container col-xxl-12 px-4 py-5">
      <div class="row  align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../assets/images/HomePage/manager-hustle_sp8kym.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <a href="/managerhustle" style="text-decoration: none;">
            <h1 class="display-2 fw-bold lh-1 mb-3 text-dark">Manager<span style="color: rgb(7, 162, 56);"> Hustle</span></h1>
          </a>
          <p class="lead"><span class="text-danger fw-bold">'Manager Hustle'</span>, an event replicating the original auction. Buckle up to utilise your critical thinking and create your own team with some competent and promising soccer players to get your team storming up the table.
          </p>



        </div>
      </div>
    </div>
    </div>
    <!-- Third hero ends -->


    <!-- First hero starts -->

    <div class="container col-xxl-12 px-4 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../assets/images/HomePage/analyst_gdypbi.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <a href="/analyst" style="text-decoration: none;">
            <h1 class="display-2 fw-bold lh-1 mb-3 text-dark">The<span style="color: rgb(47, 233, 254);"> Analyst</span>
            </h1>
          </a>
          <p class="lead"><span class="text-danger fw-bold">The Analyst</span> is a case study challenge which not only uses your analytical skills but also your problem solving and critical thinking skills.
          </p>


        </div>
      </div>
    </div>
    </div>
    <!-- First hero ends -->



    <!-- Third hero starts -->
    <div class="container col-xxl-12 px-4 py-5">
      <div class="row  align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../assets/images/HomePage/mock-crypto_e8bp4e.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <a href="/mockcrypto" style="text-decoration: none;">
            <h1 class="display-2 fw-bold lh-1 mb-3 text-dark">Mock<span class="text-warning">Crypto</span></h1>
          </a>
          <p class="lead">E-Summit’21 invites you all to a three-week long event where you will trade in a range of different cryptocurrencies. The <span class="text-danger fw-bold">MockCrypto</span> will provide the real life experience of cryptocurrency trading.
          </p>



        </div>
      </div>
    </div>
    </div>
    <!-- Third hero ends -->


    <!-- First hero starts -->

    <div class="container col-xxl-12 px-4 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../assets/images/HomePage/mock-stock_heq0nn.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <a href="/mockstock" style="text-decoration: none;">
            <h1 class="display-2 fw-bold lh-1 mb-3 text-dark">Mock<span style="color: rgb(211, 42, 245);">Stock</span>
            </h1>
          </a>
          <p class="lead"><span class="text-danger fw-bold">MockStock</span> is a dynamic real time stock market event and its main objective is to research a stock in real-time and to forecast its rise or fall.
          </p>

          <!-- <p class="lead">LaunchX opens up a vista of opportunities for young minds to ideate, launch and accelerate their startups. The startup pitching competition provides fundraising opportunities and serves to make young and budding entrepreneurs aware of the tremendous pool of market opportunities and resources available. If you are an early-stage startup looking to find its feet in the ideation phase or you nurture the desire to revolutionize the existing system, this platform is made just for you!</p> -->
          <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register Now</button> -->
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">View
          Schedule</button> -->
        </div>
      </div>
    </div>
    </div>
    <!-- First hero ends -->



    <!-- Third hero starts -->
    <div class="container col-xxl-12 px-4 py-5">
      <div class="row  align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../assets/images/HomePage/inspira-talk_ggdynq.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <a href="/inspiratalks" style="text-decoration: none;">
            <h1 class="display-2 fw-bold lh-1 mb-3 text-dark">Inspira <span style="color: rgb(42, 42, 179);">Talks</span></h1>
          </a>

          <p class="lead"><span class="text-danger fw-bold">Inspira Talks</span> is an interactive session with distinguished entrepreneurs from different walks of life as they share their first-hand experiences.

          </p>



        </div>
      </div>
    </div>
    </div>
    <!-- Third hero ends -->



    </div>
    <!-- Event cards end -->

    <!-- About Ju Ecell -->

    <div class="container col-xxl-12 px-4 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <h1 class="display-2 fw-bold lh-1 mb-3 text-center">We are<span class="text-primary"> JU E-Cell</span></h1>

        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../assets/images/HomePage/IMG_2555_nbxrxd.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <p class="lead">Since the day of inception on 20th July, 2016, the first and foremost aim of E-Cell has been to stay true to its name by instilling the proposition of "Ideate-Innovate-Build" and evolving the quiescent entrepreneurial psyche of the youthful intellect of JU. It concentrates on the multifaceted development of budding ideas of today so that they get enhanced to blossom as the tycoons of tomorrow.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">View
              Schedule</button> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container col-xxl-12 px-4 py-2">
      <div class="row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../assets/images/HomePage/IMG_2553_ldp67c.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">

          <p class="lead">JU E-Cell has always been a pioneer in hosting numerous events in a short span of time. In the years gone by, we were the organizers of the Startup Weekend, Hult Prize On-Campus, the E-Summit and had executed a number of interviews, guest talks and workshops including Nasscom Workshop, Facebook on Campus, EB Weekend in association with Facebook Developer Circles, Dainik Jagran, NIVT etc.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="https://portal.juecell.in/" target="blank"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register Now</button></a>

          </div>
        </div>
      </div>
    </div>

    <!-- Hanging icons starts -->
    <div class="container px-4 py-5" id="hanging-icons">
      <h2 class="pb-2 border-bottom display-2 fw-bold">Discover your <span class="text-danger">potential</span></h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-info flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#toggles2" />
            </svg>
            <i class="fa-regular fa-chalkboard-user"></i>
          </div>
          <div>
            <h2 class="text-info">Learn</h2>
            <p>Learn
              Entrepreneurship ideas, gather business techniques and experience, get a ground to test your skills to become the tycoons of tomorrow because tomorrow happens today over here.</p>
            <a href="#" class="btn btn-primary">
              Explore Webinars
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-success flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#cpu-fill" />
            </svg>
          </div>
          <div>
            <h2 class="text-success">Enjoy</h2>
            <p>You will enter as individuals and leave along with a family. We, the family of JU ECell, welcome you to be a part of us and enjoy and cherish your time over here with us.</p>
            <a href="#" class="btn btn-primary">
              Discover fun
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square bg-light text-danger flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#tools" />
            </svg>
          </div>
          <div>
            <h2 class="text-danger">Network</h2>
            <p>Esummit is one of the biggest entrepreneur event and being a part of us will open the gates of huge opportunities and internships from big companies. A feeling of realistic corporate field.</p>
            <a href="#" class="btn btn-primary">
              View More
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Hanging icons ends -->

    <!-- Sponsor Us starts -->
    <div class="container col-xl-12 col-xxl-12 px-4 py-3">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">Interested in <span class="text-primary">sponsoring us?</span></h1>
          <p class="col-lg-10 fs-4">Here is a form. Please fill this up with your offer and we will
            get
            back
            to you in 24 hours. We'll be more than happy to welcome you on board. We appreciate your
            kind
            gesture ! </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Andy John">
              <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Example Company Inc.">
              <label for="floatingInput">Organisation</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            <hr class="my-4">
            <small class="text-muted">By clicking Submit, you agree to the terms of use. Someone
              from
              our
              team will get in touch within 24 hours.</small>
          </form>
        </div>
      </div>
    </div>
    <!-- Sponsor us ends -->

  </main>


  <%- include('../partials/footer2'); %>

  <script src="../assets/js/navBar.js"></script>
</body>

</html>