<!doctype html>
<html lang="en">

<head>
  <title>MockStock | JU E-Summit 2021</title>
  <%- include('../partials/head2'); %>
  <!-- Custom styles for this template -->
  <link href="../assets/css/navBar.css" rel="stylesheet">
  <link href="../assets/css/carousel.css" rel="stylesheet">
  <link href="../assets/css/heroes.css" rel="stylesheet">
  <link href="../assets/css/features.css" rel="stylesheet">
  <link href="../assets/css/timeline-launchx.css" rel="stylesheet">

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJ8BSG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/612891ed649e0a0a5cd33159/1fe37k2kk';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/blue_grad_logo.png" width="160" height="30" alt="">
      </a>
      <a href="https://portal.juecell.in/" target="blank"><button class="btn btn-outline-primary btn-sm" type="button" id="register_button" aria-label="Toggle navigation">
          Register Now
        </button></a>
      <!-- <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

      <!-- <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Switch account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div> -->
    </div>
  </nav>

  <!-- <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link active" aria-current="page" href="/">Explore</a>
            <a class="nav-link" href="/legacy">Legacy</a>
            <a class="nav-link" href="/events">
                Events
                <span class="badge bg-light text-dark rounded-pill align-text-bottom">5</span>
            </a>
            <a class="nav-link" href="/schedule">Schedule</a>
            <a class="nav-link" href="/sponsors">Sponsors</a>
            <a class="nav-link" href="latest">Latest</a>
            <a class="nav-link" href="/ca">Campus Ambassador Program</a>
            <a class="nav-link" href="/contact">Contact</a>
        </nav>
    </div> -->

  <%- include('../partials/navScroller'); %>


  <%- include('../partials/svgSymbols'); %>



  <main>
    <div style="max-width: 1920px; margin: 0 auto;">
        <div class="bg-img" style="
        width: 100%;
        padding-top: 42.18%;
        background: url('https://res.cloudinary.com/ju-ecell/image/upload/v1630411912/MockStock/homepage-banner-2600x1080_z6hqqr.png') no-repeat center;
        background-size: contain;
        ">

        </div>
    </div>
    <!-- carousel ends -->

    <!-- First hero starts -->

    <div class="container col-xxl-12 px-4 py-2">
      <div class="row align-items-center g-5 py-3">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629496356/MockStock/MockStocks_black_lqywog.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-2 fw-bold lh-1 mb-3">Mock <span style="color: #f907fc;">Stocks</span>
          </h1>
          <p class="lead">Does <span class="text-primary">Harshad Mehta</span> sound more familiar to you than Warren Buffett? Whatever be your preferred style, come show it off to the world on Mock Stock 2.0!
            <br> Conceived and built on an in-house platform, Mock Stock provides you the perfect opportunity to learn risking, risk-free! The second edition of the event will span over a three week long event, where you will be able to trade or invest in <span class="text-danger">the top 100 companies of India</span>.</span>
          </p>

          <!-- <p class="lead">LaunchX opens up a vista of opportunities for young minds to ideate, launch and accelerate their startups. The startup pitching competition provides fundraising opportunities and serves to make young and budding entrepreneurs aware of the tremendous pool of market opportunities and resources available. If you are an early-stage startup looking to find its feet in the ideation phase or you nurture the desire to revolutionize the existing system, this platform is made just for you!</p> -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="https://portal.juecell.in/" target="blank"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register Now</button></a>


            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">View
              Schedule</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- First hero ends -->



    <!-- Third hero starts -->
    <div class="container col-xxl-12 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629547868/MockStock/Carousel/3_g1x9jz.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">The opportunity of exploring the world of <span style="color: #f907fc;">Stock Market</span></h1>
          <!-- <p class="col-lg-10 fs-4">The event consists of 3 rounds: </p> -->
          <!-- <p class="col-lg-10 fs-4">You can apply if you :</p> -->
          <p class="lead">The one with the highest net worth at the end will win all the bragging rights, with a live leaderboard that shall keep updating in real time.
            As Peter Lynch has rightly said, <span class="text-danger">“The key to making money in stocks is not to get scared out of them.”</span>

          </p>


          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="https://portal.juecell.in/" target="blank"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register Now</button></a>

            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Third hero ends -->


    <!-- Gallery -->
    <div class="container px-4 py-5">
      <h3 class="display-4 fw-bold text-center"><span style="color: #f907fc;">Dash</span>board</h3>
      <div class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629498610/MockStock/gallery2_plqnti.jpg" class="d-block w-100" alt="..." />
          </div>

        </div>

      </div>
      <div class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629498595/MockStock/gallery1_aei3yk.jpg" class="d-block w-100" alt="..." />
          </div>

        </div>

      </div>
    </div>
    <!-- dashboard end -->

    <!-- Webinars -->

    <div class="container px-4 py-5">
      <h3 class="display-4 fw-bold text-center pb-5"><span style="color: #f907fc;">Webinar</span> Series </h3>
      <!-- Timeline section starts -->

      <div class="container pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="card text-center">
                <div class="card-body">


                  <div class="hori-timeline" dir="ltr">
                    <ul class="list-inline events">
                      <li class="list-inline-item event-list">
                        <div class="px-4">
                          <div class="event-date bg-soft-primary text-primary">14 Sep 7PM</div>
                          <!-- <h5 class="font-size-16">Podcast with Mr. Indranil Datta</h5> -->
                          <div class="card">
                            <div class="card-body">
                              <div class="col">
                                <img class="rounded-circle py-1 px-1 mb-4" src="https://res.cloudinary.com/ju-ecell/image/upload/v1629567124/MockStock/Webinar/brian-feroldi-circle-image-400x400_heyfla.png" width="140" height="140">
                              </div>
                              <a href="https://www.linkedin.com/in/brianferoldi/" style="text-decoration: none;">
                                <h5 class="card-title">Brian Feroldi</h5>
                              </a>
                              <p>14th September <br> 7 PM</p>
                              <p class="text-muted">Contract Writer at The Motley Fool</p>
                              <a href="https://portal.juecell.in/" class="btn btn-primary">Register Now</a>
                            </div>
                          </div>
                        </div>
                      </li>
                      <!-- <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-success text-success">11 Sep 6PM</div>
                       
                        <div class="card">
                          <div class="card-body">
                            <div class="col">
                              <img class="rounded-circle py-1 px-1 mb-4" src="https://res.cloudinary.com/ju-ecell/image/upload/v1629558673/InspiraTalks/POC/Srinwanti_Chowdhury_gwohph.jpg" width="140" height="140">
                            </div>
                            <h5 class="card-title">Interactive session with Aman Dhattarwal</h5>
                            <p class="text-muted">Let us know how big doggo is he</p>
                            <a href="#" class="btn btn-primary">Register Now</a>
                          </div>
                        </div>
                      </div>
                    </li> -->
                      <!-- <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-danger text-danger">19 Sep</div>
                        
                        <div class="card">
                          <div class="card-body">
                            <div class="col">
                              <img class="rounded-circle py-1 px-1 mb-4" src="https://res.cloudinary.com/ju-ecell/image/upload/v1629568212/InspiraTalks/Speakers/Anwesha_Bhatt._jxrpmp.jpg" width="140" height="140">
                            </div>
                            <h5 class="card-title">Panel Discussion</h5>
                            <p class="text-muted">Dr. Amitava Sarkar (Panelist), Mrs. Anwesha Bhattacharyya (Panelist), Mr. Kaustav Mitra (Moderator), Nabila Jamshed (Panelist)</p>
                            <a href="#" class="btn btn-primary">Register Now</a>
                          </div>
                        </div>
                      </div>
                    </li> -->


                    </ul>
                  </div>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>
        </div>

        <!-- Timeline section ends -->
      </div>

      <!-- Timeline section starts -->

      <!-- <div class="container"> -->
      <div class="container-fluid">
        <div class="row align">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title display-4 fw-bold mb-5 text-center"><span style="color: #f907fc;">Time</span>line</h1>

                <div class="hori-timeline text-center" dir="ltr">
                  <ul class="list-inline events">
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-primary text-primary">25 Aug - 2 Sep</div>
                        <h5 class="font-size-16 text-primary">Registration</h5>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Registrations start at 1 PM on 25 Aug</h5>
                            <!-- <p class="text-muted">Registration Portal is live now ! Head over to the portal, signup/login to your E-Summit Account and reserve your seat.</p> -->
                            <a href="https://portal.juecell.in/" class="btn btn-primary">Register Now</a>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Registrations end at 1 PM on 2 Sep</h5>
                            <!-- <p class="text-muted">Registration Portal is live now ! Head over to the portal, signup/login to your E-Summit Account and reserve your seat.</p> -->
                            <!-- <a href="#" class="btn btn-primary">Register Now</a> -->
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-success text-success">6 Sep</div>
                        <h5 class="font-size-16 text-success">Opening Day</h5>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Trading Starts</h5>

                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-danger text-danger">24 Sep</div>
                        <h5 class="font-size-16 text-danger">Final Day</h5>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Trading ends and <br> <span class="text-danger">Winner Announced</span></h5>

                            <!-- <p class="text-muted">Participants will be needed to submit a business model/prototype of their ideas describing how they are planning to launch their idea into the market and convert it into a reality.</p> -->
                            <!-- <h5 class="card-title">One-on-one mentorship sessions</h5> -->
                            <!-- <p class="text-muted">Alumni from recognised organisations to provide one on one mentorship</p> -->
                          </div>
                        </div>
                      </div>
                    </li>


                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- </div> -->

          <!-- Timeline section ends -->


          <!-- Structure starts -->
          <div class="container px-4 py-5 mb-5">
            <h3 class="display-4 fw-bold text-center"><span style="color: #f907fc;">Scoring </span>Criteria:</h3>
            <p class="lead mb-4 text-center"><span class="text-danger">Highest</span> Highest Net <span class="text-success">Worth Wins</span></p>
          </div>
          <!-- Structure ends -->

          <!-- Sponsors Start -->

          <div class="album py-5 align-items-center">
            <div class="container">
              <h2 class="text-center mb-5 fw-bold display-5">Partners and<span style="color: #f907fc;"> Sponsors</span></h2>
              
      
                
      
                <div class="row g-3 row-cols-1 row-cols-sm-3 row-cols-md-4 align-items-center justify-content-around">
                <!-- <div class="col p-5">
                  <img src="../assets/images/HackNPitch/OReilly_logo_rgb.png" class="w-100">
                </div>
                <div class="col p-5">
                  <img src="../assets/images/HackNPitch//1200px-WolframCorporateLogo.svg.png" class="w-100">
                </div>
                <div class="col p-5">
                  <img src="../assets/images/Sponsors/NIY_Color_BG_egrngh.png" class="w-100">
                </div> -->
                <div class="col p-5">
                  <img src="../assets/images/HackNPitch/FlipItNews Full Logo.png" class="w-100" style="background-color: black  !important;">
                </div>
      
      
      
      

              
      
              <!-- <div class="row g-3 row-cols-1 row-cols-sm-3 row-cols-md-4 align-items-center justify-content-around py-5" >
                
                <div class="col px-5">
                  <img src="https://res.cloudinary.com/bitan-atarthy/image/upload/v1629996385/esummit/seekhoai_rcojvi.jpg" class="w-100">
                </div>
      
                <div class="col px-5">
                  <img src="https://res.cloudinary.com/bitan-atarthy/image/upload/v1630007311/esummit/header_yputgk.png" class="w-100">
                </div>
      
      
      
      
              </div> -->
      
      
            </div>
          </div>



          <!-- Sponsors End -->


          <!-- Rewards start -->
          <div class="container px-4 py-4" id="icon-grid">
            <h1 class="display-4 fw-bold text-center"><span class="text-warning">Exciting Rewards</span> for <span style="color: #f907fc;">You</span>.</h1>
            <!-- <h2 class="pb-2 border-bottom">Inspired by Innovation. Loved by people.</h2> -->

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4 py-5">
              <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-muted flex-shrink-0 me-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2" />
                  </svg>

                </div>
                <div>
                  <h2 class="fw-bold mb-0">Exciting <span class="text-danger">Cash Prizes upto Rs. 10,000</span></h2>
                  <!-- <p>Get recognized, E-Summit '21 brings exciting cash prizes upto Rs. 10,000 for the winners. So gear up and put your best game face on! -->
                  </p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                  <use xlink:href="#cpu-fill" />
                </svg>
                <div>
                  <h2 class="fw-bold mb-0">Internship <span class="text-primary">Opportunities </span> and <span class="text-primary">Rewards </span> </h2>
                  <!-- <p>The students of this generation demand the learning support that is appropriate for their situation and context. JU E-Cell brings you various courses worth up to 10k to help you enhance those skills you have always wanted to master. So don't let this opportunity slide!</p> -->
                </div>
              </div>


            </div>
          </div>
          <!-- Rewards end -->





          <!-- FAQ starts -->
          <div class="container col-xl-12 col-xxl-12 px-4 py-3">
            <div class="row align-items-center g-lg-5 py-5">
              <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">FAQs</h1>
                <p class="col-lg-10 fs-4">Here are some frequently asked questions. Nonetheless, Mock Stock will be a once in a lifetime experience! </p>
              </div>
              <div class="col-md-10 mx-auto col-lg-5">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Where will we trade?

                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        You will trade on an in-house developed platform. Username and Passwords will
                        be provided post registration.

                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Will there be indicators and charts present on the platform?
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        No! For the charts and indicators you will have to use an external website.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        When will the market be open for trading?
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        This is a simulation of the real Indian Market, so the trading days will be identical to that of the BSE and NSE.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        I am a novice, should I be participating?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Yes! This is the perfect time to learn all the charts/indicators there are and apply
                        them in real time to master a new skill. A skill that will pay you for life.

                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        I am an expert, what’s in it for me?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Two things. One, the chance to win exciting cash prizes which you can then
                        multiply using your expertise. Two, the chance to test out new strategies you
                        might be curious about without the risk of getting burnt by Mr Market. A side bonus is the exciting cash prizes.

                      </div>
                    </div>
                  </div>




                </div>
              </div>
            </div>
          </div>
          <!-- FAQ ends -->


          <!-- Terms and Conditions starts -->
          <div class="container px-4 py-5">
            <h3 class="display-4 fw-bold text-center"><span style="color: #f907fc;">Terms </span>and Conditions:</h3>
            <p class="lead mb-4 text-center" style="font-size: 30px;">Coming<span style="color: #f907fc;"> Soon</span></p>
          </div>
          <!-- Structure ends -->


          <div class="container col-xl-12 col-xxl-12 px-4 py-3">
            <h2 class="pb-2 display-6 fw-bold text-dark border-bottom text-center">Captain</h2>
            <!-- <h1 class="display-4 fw-bold text-center">Awaken the entrepreneur in <span class="text-danger">You</span>.</h1> -->
            <div class="row mt-5 g-3 align-items-center justify-content-around">
              <div class="col-sm-4">
                <div class="card text-center">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <img class="rounded-circle py-1 px-1" src="https://res.cloudinary.com/ju-ecell/image/upload/v1629559319/MockCrypto/IMG-20210821-WA0118_schvv6.jpg" width="140" height="140">
                      </div>
                      <div class="col">
                        <h5 class="card-title">Prannay Kedia</h5>
                        <p class="card-text">Phone : 8584011454
                        </p>
                        <a href="https://api.whatsapp.com/send?phone=918584011454
                        &text=Hi%20there%20!%20I%20have%20a%20query%20regarding%20Mock%20Crypto%20at%20E-Summit%20JU" class="btn btn-success"><i class="bi bi-whatsapp"></i> Ping me</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 text-center text-lg-start">
                <!-- <h1 class="display-8 fw-light lh-1 mb-3">Captains</h1> -->
                <small class="col-lg-10 fs-4">For any queries regarding Mock Stock, feel free to contact us. Also, you can drop a mail to <span class="text-primary">mockstock</span><span class="text-danger">@</span><span class="text-primary">juecell.in</span> . We'd be elated to assist you! </small>
              </div>
            </div>
          </div>


          <!-- Past Sponsors starts -->

          <!-- <div class="album py-5 bg-light">
        <div class="container text-center">
          <h1 class="fw-light border-bottom mb-5 py-3">Past Sponsors</h1>
          <div class="row g-3 row-cols-1 row-cols-sm-3 row-cols-md-4">
            <div class="col">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629543582/LaunchX/Past%20Sponsors/download_2_a0njlv.png" width="90%" height="225">
            </div>
            <div class="col">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629543513/LaunchX/Past%20Sponsors/download_1_ivdarw.png" width="90%" height="225">
            </div>
            <div class="col">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629543450/LaunchX/Past%20Sponsors/nass_kpqkqv.png" width="90%" height="225">
            </div>
            <div class="col">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629543450/LaunchX/Past%20Sponsors/fs_qnrudx.png" width="90%" height="225">
            </div>


          </div>
        </div>
      </div> -->

          <!-- Past Sponsors ends -->

  </main>


  <%- include('../partials/footer2'); %>

  <script src="../assets/js/navBar.js"></script>
</body>

</html>