<!doctype html>
<html lang="en">

<head>
  <title>Mock Auction | JU E-Summit 2021</title>
  <%- include('../partials/head2'); %>
  <!-- Custom styles for this template -->
  <link href="../assets/css/navBar.css" rel="stylesheet">
  <link href="../assets/css/carousel.css" rel="stylesheet">
  <link href="../assets/css/heroes.css" rel="stylesheet">
  <link href="../assets/css/features.css" rel="stylesheet">
  <link href="../assets/css/timeline-launchx.css" rel="stylesheet">

</head>

<body class="bg-light">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJ8BSG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/612891ed649e0a0a5cd33159/1fe37k2kk';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/blue_grad_logo.png" width="160" height="30" alt="">
      </a>
      <a href="https://portal.juecell.in/" target="blank"><button class="btn btn-outline-primary btn-sm" type="button" id="register_button" aria-label="Toggle navigation">
          Register Now
        </button></a>
      <!-- <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

      <!-- <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Switch account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div> -->
    </div>
  </nav>

  <!-- <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link active" aria-current="page" href="/">Explore</a>
            <a class="nav-link" href="/legacy">Legacy</a>
            <a class="nav-link" href="/events">
                Events
                <span class="badge bg-light text-dark rounded-pill align-text-bottom">5</span>
            </a>
            <a class="nav-link" href="/schedule">Schedule</a>
            <a class="nav-link" href="/sponsors">Sponsors</a>
            <a class="nav-link" href="latest">Latest</a>
            <a class="nav-link" href="/ca">Campus Ambassador Program</a>
            <a class="nav-link" href="/contact">Contact</a>
        </nav>
    </div> -->

  <%- include('../partials/navScroller'); %>


  <%- include('../partials/svgSymbols'); %>



  <main>
    <!-- Carousel starts -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">

          <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629636527/Mock%20IPL/Carousel/JU_E-CEll_brings_up_the_mock_ipl_auctions_2021_mkdfyw.jpg" width="100%">


        </div>
        <div class="carousel-item">
          <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629636531/Mock%20IPL/Carousel/WhatsApp_Image_2021-08-22_at_2.59.50_PM_ijflag.jpg" width="100%">



        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Carousel ends -->

      <!-- First hero starts -->

      <div class="container col-xxl-12 px-4 py-2">
        <div class="row  align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629530435/Mock%20IPL/IMG-20210820-WA0066_dyk916.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-2 fw-bold lh-1 mb-3">Cricket <span class="text-danger">Auction</span>
            </h1>
            <p class="lead">Want to create your perfect cricket team? Want to rain the stadium with virtual sixes , and knock over your opponent's fictional stumps?
              Bid against your franchise rivals to create your <span class="text-danger fw-bold">"dream team"</span> in our amazing fun activity of a Mock IPL Auction!
              Recruit your favorite cricket players and scout young promising cricketers to create your perfect franchise cricket team , just like an IPL Auction! Choose your own ensemble of fearsome cricketers that can beat your opponents easily and reach the <span class="text-success fw-bold">top of the table!</span></p>

            <!-- <p class="lead">LaunchX opens up a vista of opportunities for young minds to ideate, launch and accelerate their startups. The startup pitching competition provides fundraising opportunities and serves to make young and budding entrepreneurs aware of the tremendous pool of market opportunities and resources available. If you are an early-stage startup looking to find its feet in the ideation phase or you nurture the desire to revolutionize the existing system, this platform is made just for you!</p> -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="https://portal.juecell.in/" target="blank"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register Now</button></a>


              <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">View
              Schedule</button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- First hero ends -->

      <!-- Second hero starts -->

      <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">The opportunity of <span class="text-danger">owning an IPL Team</span></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead">After attracting record participation from across the city in its numéro uno edition, we are back with a bigger and better Mock Auction, notwithstanding the virtual mode!</p>
          <p class="lead mb-4">For the ardent sport enthusiasts who possess analytical, predictive and financial management skills, comparing Virat and Vivian simply doesn't make sense. Thus, we have designed a unique state-of-the-art algorithm, which will ensure an even-steven competition and leave you preparing for the most uncertain situation!</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="https://portal.juecell.in/" target="blank"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register Now</button></a>

            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 40vh;">
          <div class="container px-5">
            <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629636537/Mock%20IPL/Carousel/IPL_Carousel_p6esr1.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="800" height="500" loading="lazy">
          </div>
        </div>
      </div>

      <!-- Second hero ends -->

      <!-- Gallery -->

      <section class="bg-light text-dark p-5 text-center text-sm-start">
        <div class="container">
          <h2 class="text-center mb-5 fw-bold display-3">From the <span class="text-primary">Archives</span></h2>

          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">


              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629547056/Mock%20IPL/Screenshot_394_oylq1e.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />

              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629547062/Mock%20IPL/Screenshot_404_zawesz.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />
            </div>

            <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629547062/Mock%20IPL/Screenshot_397_qmla6u.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />

              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629547064/Mock%20IPL/Screenshot_405_sz0g5i.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />
            </div>


          </div>

        </div>
      </section>



      <!-- Timeline section starts -->

      <!-- <div class="container"> -->
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title mb-5 text-center">Timeline</h1>

                <div class="hori-timeline" dir="ltr">
                  <ul class="list-inline events">
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-primary text-primary">8 Sep</div>
                        <h5 class="font-size-16 text-primary">Prelims Day 1</h5>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">(Room 1 and Room 2)</h5>
                            <p class="text-muted">
                              Morning slot - 11am to 3 pm <br>
                              Evening slot - 4pm to 8pm
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Register Now</a> -->
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-success text-success">9 Sep</div>
                        <h5 class="font-size-16 text-success">Prelims Day 2</h5>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">(Room 3 and Room 4)</h5>
                            <p class="text-muted">
                              Morning slot - 11am to 3 pm <br>
                              Evening slot - 4pm to 8pm
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Register Now</a> -->
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-danger text-danger">10 Sep</div>
                        <h5 class="font-size-16 text-danger">Prelims Result Day</h5>
                        <div class="card">
                          <div class="card-body">
                            <!-- <h5 class="card-title">Business Model/Prototype development</h5> -->
                            <p class="text-muted">Results declaration of Prelims Round.</p>

                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-inline-item event-list">
                      <div class="px-4">
                        <div class="event-date bg-soft-primary text-primary">12 Sep</div>
                        <h5 class="font-size-16 text-primary">Final Day</h5>
                        <div class="card">
                          <div class="card-body">
                            <p class="text-muted"> Final day and winners announcement. </p>
                            <p class="text-muted">

                              Time slot - 4pm to 8pm
                            </p>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
        <!-- </div> -->




        <!-- Timeline section ends -->

        <!-- Structure starts -->
        <div class="container px-4 py-5">
          <h1 class="display-4 fw-bold text-center"><span class="text-primary">Structure of the Event:</span></h1>
          <p class="lead mb-4 text-center">Auction will consist of 2 rounds: <br> <span class="text-danger fw-bold">a) Preliminary Round,</span> <span class="text-success fw-bold">b) Final Round</span></p>

          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card border-success">

                <div class="card-body">

                  <p class="card-text">
                  <ul>
                    <li>Preliminary round will be held in 4 rooms.</li>
                    <li>A maximum of 20 teams will be there in each room, out of which 2 teams will qualify from each room.</li>
                    <li>A total of 8 teams will qualify for the final round.</li>
                    <li>The participating team can have maximum 4 and minimum 2 members in it.</li>
                    <li>In preliminary round 100 players will be introduced for bidding.</li>
                   
                  </ul>
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-success">

                <div class="card-body">

                  <p class="card-text">
                  <ul>
                    <li>In the preliminary round each team will have to make a 3 man squad, which includes 1 batsman, 1 bowler, and either a wicket keeper or all rounder.</li>
                    
                    <li>In the final round each team will have to make a team of 11 players, which will include 3 batsman, 3 bowler, 2 all rounder, 1 wicket keeper, 1 legend player, and another player from any of the above.</li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-success">

                <div class="card-body">

                  <p class="card-text">
                  <ul>
                    <li>Each player will be rated according to their IPL or T20 career by the auction committee.</li>
                    <li>30 mins before the commencement of the auction a player list containing player’s career statistics and the rating point will be given to each team.</li>
                    <li>In the given 30 mins teams can make their strategies accordingly.</li>
                    <li>An auctioneer with it’s team will conduct the auction in each room.</li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-success">

                <div class="card-body">

                  <p class="card-text">
                  <ul>
                    <li>The auctioneer will present a player and the team with the highest bid will get the player in their team.</li>
                    <li>The bidding will be done in an online platform apart from the platform used for the meet, whose log in details will be given before the event.</li>
                    <li>A small break will be given in between the auction.</li>
                    <li>20cr and 60cr will be the purse value for preliminary and final round respectively.</li>

                  </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Structure ends -->



         <!-- Sponsors starts -->

    <div class="album py-5 align-items-center">
      <div class="container">
        <h2 class="text-center mb-5 fw-bold display-5">Partners and<span class="text-success"> Sponsors</span></h2>
        

          

          

        <div class="row g-3 row-cols-1 row-cols-sm-3 row-cols-md-4 align-items-center justify-content-around py-5">
          
          <div class="col p-5">
            <a href="https://flutrr.com/" target="blank" rel="noopener noreferrer">
            <img src="../assets/images/Sponsors/Logo_1_p70hxp.png" class="w-100">
          </a>
          </div>

          



        </div>

        

       


      </div>
    </div>

    <!-- Past Sponsors ends -->






        <!-- Rewards start -->

      <div class="container px-4 py-5 ">
        <section id="instructors" class="p-5">
          <div class="container justify-content-around">
            <h2 class="text-center display-3 fw-bold pb-5"><span class="text-success">Prizes </span></h2>

            <div class="row g-4">
              <div class="col-md-6 col-lg-3">
                <div class="card">
                  <div class="card-body text-center">
                    <img src="../assets/images/Prizes/1st_ahtddg.png" class="w-50 mb-3" alt="" />
                    <h3 class="card-title mb-3">1st Prize <br>The Winner</h3>



                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-3">
                <div class="card">
                  <div class="card-body text-center">
                    <img src="../assets/images/Prizes/prize2_pcc7ew.png" class="w-50 mb-3" alt="" />
                    <h3 class="card-title mb-3">2nd Prize <br>1st Runners Up</h3>



                  </div>
                </div>
              </div>


              <div class="col-md-6 col-lg-3">
                <div class="card ">
                  <div class="card-body text-center">
                    <img src="../assets/images/Prizes/prize4_uzphf6.png" class="w-50 mb-3" alt="" />
                    <h3 class="card-title mb-3">3rd Prize <br>2nd Runners Up</h3>



                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-3">
                <div class="card ">
                  <div class="card-body text-center">
                    <img src="../assets/images/Prizes/prize3_kf7242.png" class="w-50 mb-3" alt="" />
                    <h3 class="card-title mb-3">Participation<br>Certificate</h3>



                  </div>
                </div>
              </div>





            </div>
          </div>
        </section>
      </div>


      <!-- Rewards end -->





        <!-- FAQ starts -->
        <div class="container col-xl-12 col-xxl-12 px-4 py-3">
          <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
              <h1 class="display-4 fw-bold lh-1 mb-3">FAQs</h1>
              <p class="col-lg-10 fs-4">Here are some frequently asked questions. Nonetheless, Mock IPL Auction will be a once in a lifetime experience! </p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      On What basis will the teams be evaluated ?

                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Each player will be given a rating out of 100 by our organising team and teams will be evaluated on the basis of rating of the players bought by the teams.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What will be the duration of the Mock Auctions ?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      The auction might go as long as 3 to 4 hours in each round . A short break will be given in every round.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What will be the rules for bidding for a player ?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      When one logs in to the auction portal , cards of each player will be displayed on the screen one after the another . The cards of a player will contain details like stats , base price , current price accompanied by a bid button . If someone is interested to bid for that particular player s/he can press that button on the card . The one who will press it the fastest will have the bid to his team’s name .
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      How will the ratings be given to a player ?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      The ratings will be given to a player on the basis of a special algorithm developed by our organising team . This algorithm will consider the Player’s IPL/T20I stats while calculating the rating . This algorithm can’t be revealed to any participants .
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      What is the maximum number of Players that a team can purchase ?
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      In the prelims round a team can buy 3 players and in the final round a team can buy upto 11 players .
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      What is the maximum number of members allowed in a participating team ?
                    </button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      A team can have minimum 2 and maximum 4 members .
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      How will the online auctions be conducted ? Will there be an auctioneer ?
                    </button>
                  </h2>
                  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Each team has to log in to the auction Portal and along with that a zoom meeting link will be given . There will be an auctioneer addressing the whole event via the zoom meet and each team can bid for players in the auction portal .
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                      Who are the Legends ?
                    </button>
                  </h2>
                  <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Legends are newly introduced in this year’s mock auctions . Some of the best players of the world who played IPL previously fall in the lends category .
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                      What is the strategy time given before each round ?
                    </button>
                  </h2>
                  <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      The list of all players will be revealed to each team before the auctions , during the strategy time the teams can have an internal discussion to make up a rough strategy in order to decide the players they might bid for .
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FAQ ends -->




        <div class="container col-xl-12 col-xxl-12 px-4 py-3">
          <h2 class="pb-2 text-primary border-bottom text-center">Captains</h2>
          <!-- <h1 class="display-4 fw-bold text-center">Awaken the entrepreneur in <span class="text-danger">You</span>.</h1> -->
          <div class="row mt-5 g-3 align-items-center justify-content-around">
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">
                      <img class="rounded-circle py-1 px-1" src="https://res.cloudinary.com/ju-ecell/image/upload/v1629704565/Mock%20IPL/POC/IMG_20210823_130808_kbziy6.jpg" width="140" height="140">
                    </div>
                    <div class="col">
                      <h5 class="card-title">Ritam Mondal</h5>
                      <p class="card-text">Phone : 8116752165</p>
                      <a href="https://api.whatsapp.com/send?phone=918116752165&text=Hi%20there%20!%20I%20have%20a%20query%20regarding%20Mock%20Auction%20at%20E-Summit%20JU" class="btn btn-success"><i class="bi bi-whatsapp"></i> Ping me</a>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 text-center text-lg-start">
              <!-- <h1 class="display-8 fw-light lh-1 mb-3">Captains</h1> -->
              <small class="col-lg-10 fs-4">For any queries regarding Mock Auction, feel free to contact us. Also, you can drop a mail to <span class="text-primary">mockiplauction</span><span class="text-danger">@</span><span class="text-primary">juecell.in</span> . We'd be elated to assist you! </small>
            </div>
          </div>
        </div>


        <!-- Past Sponsors starts -->

        <!-- <div class="album py-5 bg-light">
        <div class="container text-center">
          <h1 class="fw-light border-bottom mb-5 py-3">Past Sponsors</h1>
          <div class="row g-3 row-cols-1 row-cols-sm-3 row-cols-md-4">
            <div class="col">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629543582/LaunchX/Past%20Sponsors/download_2_a0njlv.png" width="90%" height="225">
            </div>
            <div class="col">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629543513/LaunchX/Past%20Sponsors/download_1_ivdarw.png" width="90%" height="225">
            </div>
            <div class="col">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629543450/LaunchX/Past%20Sponsors/nass_kpqkqv.png" width="90%" height="225">
            </div>
            <div class="col">
              <img src="https://res.cloudinary.com/ju-ecell/image/upload/v1629543450/LaunchX/Past%20Sponsors/fs_qnrudx.png" width="90%" height="225">
            </div>


          </div>
        </div>
      </div> -->

        <!-- Past Sponsors ends -->

  </main>


  <%- include('../partials/footer2'); %>

  <script src="../assets/js/navBar.js"></script>
</body>

</html>